.ebt-block-columns {
  .field--name-field-ebt-columns-blocks {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    display: grid;
  }
  &.column-2 {
    .field--name-field-ebt-columns-blocks {
      grid-template-columns: 1fr 1fr;
    }

    &.columns-50-50 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 1fr;
      }
    }
    &.columns-33-67 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 2fr;
      }
    }
    &.columns-67-33 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 2fr 1fr;
      }
    }
    &.columns-25-75 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 3fr;
      }
    }
    &.columns-75-25 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 3fr 1fr;
      }
    }
  }

  &.column-3 {
    .field--name-field-ebt-columns-blocks {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.columns-25-50-25 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 2fr 1fr;
      }
    }
    &.columns-33-34-33 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    &.columns-25-25-50 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 1fr 2fr;
      }
    }
    &.columns-50-25-25 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 2fr 1fr 1fr;
      }
    }
  }
  &.column-4 {
    .field--name-field-ebt-columns-blocks {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &.columns-25-25-25-25 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
    &.columns-40-20-20-20 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 2fr 1fr 1fr 1fr;
      }
    }
    &.columns-20-20-20-40 {
      .field--name-field-ebt-columns-blocks {
        grid-template-columns: 1fr 1fr 1fr 2fr;
      }
    }
  }
  &.column-5 {
    .field--name-field-ebt-columns-blocks {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  &.column-6 {
    .field--name-field-ebt-columns-blocks {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

