{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('ebt_columns/ebt_columns') }}

{%
  set classes = [
  'block',
  'ebt-block',
  'ebt-block-columns',
  'ebt-block-' ~ plugin_id|clean_class,
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'plugin-id-' ~ plugin_id|clean_class,
]
%}

{% if content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.layout %}
  {% set classes = classes|merge(['column-' ~ content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.layout]) %}
{% endif %}

{% if content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.column_width_two %}
  {% set classes = classes|merge(['columns-' ~ content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.column_width_two]) %}
{% endif %}

{% if content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.column_width_three %}
  {% set classes = classes|merge(['columns-' ~ content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.column_width_three]) %}
{% endif %}

{% if content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.column_width_four %}
  {% set classes = classes|merge(['columns-' ~ content.field_ebt_settings['#object'].field_ebt_settings.ebt_settings.column_width_four]) %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ebt-container">
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content|without('field_ebt_settings') }}
    {% endblock %}
  </div>
</div>
{{ styles|raw }}
